body {
  display: grid;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.admin-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

aside {
  grid-area: sidebar;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-block: 2rem;
  min-height: 100vh;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header {
  background-color: #ffff;
  grid-area: header;
}

.content {
  grid-area: main;
  background-color: #f9f8f9;
}

.nav-ul {
  position: relative;
  height: 85vh;
}
.nav-item {
  display: flex;
  padding: 1rem 0;
}
.nav-item a {
  margin-left: 20px;
  text-wrap: nowrap;
  color: #aaaaaa;
}
.nav-item span i {
  font-size: 1rem;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.dropdown {
  background-color: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* color: #8898aa; */
.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  border-radius: 10px;
  width: 30%;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.icons {
  width: 40px;
  height: 40px;
  padding: 1rem;
  background-color: #4646e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

table {
  border-radius: 0.8rem;
  width: 100%;
}
.table,
th,
td {
  padding: 0.5rem;
}
td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}
