.hero {
  background: linear-gradient(rgba(0 0 0 / 0.2), rgba(0 0 0 / 0.4)),
    url(../image/homme.jpeg);
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
}
.hero-text {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem 1rem;
  margin: 20px;
  border-radius: 10px;
  width: min(500px, 90%);
}

.line {
  width: 400px;
  text-align: center;
  height: 2px;
  margin-top: 15px;
  margin: 0 auto;
}
a {
  color: #000;
  text-decoration: none;
}
li {
  list-style-type: none;
}

.hero2 {
  background: url(../image/femme.jpg);
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
}
.hero-text2 {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1rem;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  width: min(500px, 90%);
}
